body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

img {
  display: block;
}

.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.photo-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery__image {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
