body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

img,
svg {
  display: block;
}

.search-form {
  padding: 25px 0;

  display: flex;
  justify-content: center;

  background-color: rgb(63, 87, 179);
}

.search-input,
.search-button {
  border: none;
  font-family: inherit;
  font-size: 21px;
}

.search-input:focus-within {
  outline: transparent;
}

.search-button {
  display: flex;
  align-items: center;
  transition: background-color 250ms linear;
}

.search-button:hover,
.search-button:active {
  background-color: rgb(165, 175, 220);
}

.search-icon {
  width: 21px;
  height: 21px;
}

.gallery {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  margin-top: 20px;
}

.photo-card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.gallery__image {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-evenly;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more-btn {
  display: block;
  width: 150px;
  margin: 25px auto;

  font-family: inherit;
  font-size: 21px;

  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  background-color: rgb(46, 185, 46);
  color: white;

  transition: background-color 250ms linear;
}

.is-hidden {
  opacity: 0;
}

.load-more-btn:hover,
.load-more-btn:focus {
  background-color: rgb(63, 190, 63);
}
